mat-toolbar{
    background: teal;
    color: white;
}
mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: teal;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
.content{
   /* height: calc(200vh - 98px);*/
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: lightslategray;
    border-radius: 10px;
}
mat-sidenav-container{
    height: calc(100vh - 65px);
}
.menu-button{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.contact {
    border-radius:30px;

}
/* Optional CSS for customizing the tooltip appearance */
.mat-tooltip {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 12px;
  }
  
.menu-button mat-icon {
    margin-right: 8px;
}
.name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}
.designation{
    margin-top: 2px;
    font-size: 0.7rem;
    color: white;
}
mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}


