<mat-toolbar>
  siva hariharan
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
    menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
      </button>
    <div class="contact">
     <!-- <a href="#" matTooltip="Click here to learn more" matTooltipPosition="above">Hover over me!</a> idea for hover suggestions
     -->
<a matTooltipPosition="above">
<img src="../assets/logos/LI-In-Bug.png" style="height: 20px; width: 20px; background-color: white;">
</a>
    </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h4 class="name"> Siva hariharan M</h4>
    <p>Front-End Developer</p>

    <button mat-button class="menu-button" routerLink="home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="about">
      <mat-icon>fingerprint</mat-icon>
      <span>About</span>
    </button>
    <button mat-button class="menu-button" routerLink="experience">
      <mat-icon>trending_up</mat-icon>
      <span>Experience</span>
    </button>
    <button mat-button class="menu-button" routerLink="skills">
      <mat-icon>bubble_chart</mat-icon>
      <span>Skills</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" >
     
      <router-outlet>
        <ng-component select="header"></ng-component>
        <ng-component select="body"></ng-component>
      </router-outlet>
     <span class="themes">
      <button mat-icon-button  >
        <mat-icon>settings</mat-icon>

       </button> 

      
     </span>
      
    
    </div>
  
  </mat-sidenav-content>
 
</mat-sidenav-container>

