<mat-toolbar>
  siva hariharan
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
    menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
      </button>
    
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h4 class="name"> Siva hariharan M</h4>
    <p>Front-End Developer</p>

    <button mat-button class="menu-button" routerLink="home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="about">
      <mat-icon>fingerprint</mat-icon>
      <span>About</span>
    </button>
    <button mat-button class="menu-button" routerLink="experience">
      <mat-icon>trending_up</mat-icon>
      <span>Experience</span>
    </button>
    <button mat-button class="menu-button" routerLink="skills">
      <mat-icon>bubble_chart</mat-icon>
      <span>Skills</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
     
      <router-outlet></router-outlet>
     <span class="themes">
      <button mat-icon-button  >
        <mat-icon>settings</mat-icon>
       </button> 
     </span>
      
    
    </div>
    <span class="themes">
   
    </span>
  
  </mat-sidenav-content>
 
</mat-sidenav-container>

